{% extends 'site.html.jinja2' %}

{% set baseModifierClass = '' %}

{% block body %}
{% if baseModifier == 'mainFocus' %}
  {% set baseModifierClass = 'pm-Base--mainFocus' %}
{% endif %}
<div class="pm-Base {{ baseModifierClass }}">
  {% block header -%}
    {#
    <header class="pm-Base-header">
      {% include 'other/header.html.jinja2' %}
    </header>
    #}
  {%- endblock %}

<nav class="pm-Base-menu">
  <div class="pm-Base-menuPrimary">
    {# {% from './menu.html.jinja2' import menu %}{{ menu() }} #}
  </div>
  <div class="pm-Base-menuSecondary">
  {% block secondarymenu %}
  {% endblock %}
  </div>
</nav>

  <main class="pm-Base-main" role="main" {% if ngModule == 'puzzlepage' %}style="flex: 1 0; margin-left:auto; margin-right:auto;"{% endif %}>
    {% block main %}
    {% endblock %}
  </main>

  <footer class="pm-Base-footer">
  <div class="pm-Base-kneeer">
    {%- block kneeer -%}
    {%- endblock -%}
    </div>
    {% block footer %}
      {% include 'other/footer.html.jinja2' %}
    {% endblock %}
  </footer>
</div>
{% endblock %}
